


<div class="layout-container">
    <!-- HEADER -->
    <div class="header">
<a href="strategie">
      <div class="header__title">
          Strategie
          <div class="sidebar__subtitle">
          Zentrum elektronische Medien
          </div>
      </div>
  </a>
<div class="header__burger header__burger--visible">
      <i></i>
      <i></i>
      <i></i>
  </div>
  <div class="header__close">
      ×
  </div>
</div>
  <!-- end HEADER -->

<!-- SIDEBAR -->
  <div class="sidebar">
    <a href="strategie">
        <div class="header__title hide-on-small-only">
            Strategie
            <div class="sidebar__subtitle">
            Zentrum elektronische Medien
            </div>
        </div>
    </a>
    <div class="region region-primary-menu">
    <div role="navigation" aria-labelledby="block-mainnavigationde-menu" id="block-mainnavigationde" class="block block-menu navigation menu--main-navigation-de">

         <!--<h2 class="visually-hidden" id="block-mainnavigationde-menu">Main navigation DE</h2>-->

                  <ul class="menu">

                      <li class="menu-item">
                          <a  class=" " href="strategie">Strategie</a>
                      </li>
                      <li class="menu-item">
                          <a  class="is-active" href="aktionsplan">Aktionsplan</a>
                      </li>
                  </ul>


  </div>
  <!-- <div class="language-switcher-language-url contextual-region block block-language block-language-blocklanguage-interface" id="block-languageswitcher" role="navigation">


        <ul class="links mt-5">
            <li hreflang="de"
class="de is-active">
<a href="aktionsplan_action_id=.html"
  class="language-link  is-active"
  title="Deutsch"
  hreflang="de">
      de
  </a>
</li>
        </ul>

    </div>-->
</div>





  <div class="sidebar__logo ">
    <!-- <ul class="menu" style="font-size: .66em;">
      <li class="menu-item"><a target="_blank" href="https://www.facebook.com/digitaldialogCH/" class="social"><i class="fa fa-facebook-square fa-fw"></i> digitaldialogCH</a></li>
      <li class="menu-item"><a target="_blank" href="https://twitter.com/digitaldialogCH" class="social"><i class="fa fa-twitter-square fa-fw"></i> @digitaldialogCH</a></li>
    </ul>


    <p>&nbsp;</p>-->
      <img class="img-responsive" alt="" src="/zem04/user/themes/Strategie_ZEM/images/swiss_confederation.svg" height="39" width="157">
  </div>
</div>
  <!-- end SIDEBAR -->
